*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  NAV */
.header{
    font-size: 1.5rem;
    cursor: default;
}

/*  GENERAL */
h2{
    text-align: center;
    margin: 3rem 0;
}

/*  ALL WISHES  */
th,
td{
    text-align: center;
}
.table-wrapper{
    width: 95vw;
    margin: 0 auto;
}
.action-td{
    display: flex;
    justify-content: space-between;
}
.action-td button{
    margin-right: 5px;
}
.edit{
    color: white;
}
button span{
    display: none;
}
tr.yes td{
   background: pink;
}

/*  ADD WISHES  */
