* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-bg-color: #2c3e50; 
    --secondary-bg-color: #34495e;
    --accent-color: #e74c3c; 
    --text-color: #ecf0f1; 
    --input-bg-color: #1c2833; 
    --input-text-color: #ecf0f1; 
    --placeholder-color: #95a5a6; 
    --important-bg-color: #3498db; 
  }
  
  /* GENERAL */
  body {
    background: var(--primary-bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    width: 95vw;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    margin: 3rem 0;
  }
  
  .active {
    border-bottom: 3px solid var(--accent-color);
    width: 100%;
    color: var(--accent-color);
  }
  
  /* NAV */
  .header {
    font-size: 1.5rem;
    cursor: default;
    font-weight: 600;
    margin-right: 2rem;
  }
  
  nav {
    background: var(--secondary-bg-color);
    color: var(--text-color);
  }
  
  .nav-link {
    color: var(--text-color);
    font-size: 1.2rem;
  }
  
  /* ALL WISHES */
  thead tr.no th,
  tr.no td {
    text-align: center;
    background: var(--secondary-bg-color);
    color: var(--text-color);
  }
  
  .action-td {
    display: flex;
    justify-content: space-between;
  }
  
  .action-td button {
    margin-right: 5px;
  }
  
  button span {
    display: none;
  }
  
  tr.yes td {
    text-align: center;
    background: var(--important-bg-color); /* Light blue for important wishes */
    color: var(--text-color);
  }
  
  .link-btn,
  .edit {
    background: var(--accent-color);
    border: var(--accent-color);
    color: var(--text-color);
  }
  
  .link-btn:hover,
  .edit:hover {
    background: var(--accent-color);
    border: var(--accent-color);
    color: var(--primary-bg-color);
  }
  
  .delete:hover {
    color: var(--primary-bg-color);
  }
  
  /* ADD WISHES */
  select.form-control,
  input.form-control {
    margin: 1rem 0;
    background-color: var(--input-bg-color);
    border: none;
    color: var(--input-text-color);
  }
  
  select.form-control:focus,
  input.form-control:focus {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
  }
  
  input.form-control::placeholder {
    color: var(--placeholder-color);
  }
  
  input[type="search"] {
    border: 2px solid var(--accent-color);
  }
  
  #save-btn,
  #update-btn {
    background: var(--accent-color);
    color: var(--text-color);
    border: none;
    letter-spacing: 2px;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* checkbox  */
  .checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .checkBoxLabel {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
  }
  
  .checkBoxLabel div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
  }
  
  .checkBoxLabel input[type="checkbox"]:checked + div {
    left: -10px;
    top: -10px;
  }
  
  .checkBoxLabel input[type="checkbox"] {
    position: absolute;
    left: 50px;
    visibility: hidden;
  }
  
  .transition {
    transition: 300ms ease;
  }
  
  /* MEDIA QUERY */
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .wrapper {
      width: 90vw;
      margin: 0 auto;
    }
  
    .action-td {
      display: flex;
      justify-content: space-evenly;
    }
  }
  
  @media only screen and (min-width: 767px) and (max-width: 992px) {
    .wrapper {
      width: 85vw;
      margin: 0 auto;
    }
  
    .action-td {
      display: flex;
      justify-content: space-evenly;
    }
  
    button span {
      display: inline;
    }
  
    #add-wishes-view,
    #edit-wishes-view {
      width: 60vw;
      margin: 0 auto;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .wrapper {
      width: 80vw;
      margin: 0 auto;
    }
  
    .action-td {
      display: flex;
      justify-content: space-evenly;
    }
  
    #add-wishes-view,
    #edit-wishes-view {
      width: 50vw;
      margin: 0 auto;
    }
  
    button span {
      display: inline;
    }
  
    #save-btn,
    #update-btn {
      width: 30%;
      margin: 0 auto;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .wrapper {
      width: 80vw;
      margin: 0 auto;
    }
  
    .action-td {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  
    button span {
      display: inline;
    }
  
    #add-wishes-view,
    #edit-wishes-view {
      width: 45vw;
      margin: 0 auto;
    }
  
    #save-btn,
    #update-btn {
      width: 30%;
      margin: 0 auto;
    }
  }
  